
$black: #000000;
$midnightBlue: #003060;
$chathamsBlue: #114170;
$congressBlue: #014790;
$scienceBlue: #015fc0;
$linkWater: #D9E7F5;
$coral: #ff744e;
$persimmon: #FF5E5C;
$silver: #CCCCCC;

@mixin focus-glow($color: null) {
  @if $color == null {
    $color: $persimmon;
  }
  box-shadow: 0px 0px 4px 4px $color;
  outline-width: 2px;
  outline-style: dotted;
  outline-color: transparent;
}

.nav-link {
  padding: 0.2rem 1rem
}

.red-text {
  color: #cc0000;
}