// Import Bootstrap an BootstrapVue CSS files (order is important)
$black: #000000;
$persimmon: #FF5E5C;
$silver: #CCCCCC;
$turquoise-dark: #3ea7a7;
$turquoise: #33CCCC;
$turquoise-light: #B9E9E9;

$enable-rounded: false;
$theme-colors: (
  "primary": $turquoise,
  "danger": #ff4136
);

$btn-padding-y: 0.25em;
$btn-padding-x: 1.2em;

$link-color: $turquoise-dark;
$link-decoration: underline;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';


@mixin focus-glow($color: null) {
  @if $color == null {
    $color: $persimmon;
  }
  box-shadow: 0px 0px 4px 4px $color;
  outline-width: 2px;
  outline-style: dotted;
  outline-color: transparent;
}

.nav-link {
  padding: 0.2rem 1rem
}

.red-text {
  color: #cc0000;
}